    <!-- About Section -->
    <section id="about" class="even">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                              <!-- <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
                              <span class="fa-stack fa-5x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                              </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">What is Intelfolio</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Interfolio is a start-up with analytics-minded, friendly, active, and socially conscious people, driven by a passion for what we’re doing and the results our customers achieve.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <div class="timeline-image">
                            <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                            </span>
                              <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Where did you get the idea?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We talk to our customers and help them every day, and we thrive on making them successful. We've just started a new chapter in our story and we're growing rapidly.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                              <span class="fa-stack fa-5x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                              </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Who is in your team?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our team is comprised of experienced software developers and veterans of finance world with more than 15 years of experience in accounting &amp; finance.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
