<!-- Contact Section -->
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>Have a question? Give us a call or email us</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">Intelfolio, Inc.</span></strong><br/>
                    <abbr title="Phone">P:</abbr> {{ site.phone }}
                </address>
            </div>
            <div class="col-lg-4">
                <h2>Be part of our story!</h2>
                <p class="text-color">
                  We base our success on your success. Contact us today to start your journey towards a more productive future for your company.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:{{ site.email }}" class="btn btn-primary">Email Us</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                  {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% include footer.html %}
</section>
