<section class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Lower Costs</h2>
            <p>Intelfolio gives you access to your competitors’ metrics which you can leverage to improve your business. Our tool will help you identify opportunities to increase productivity, eliminate loss runners, diversify, consolidate and even liquidate assets.</p>
        </div>
        <div class="col-sm-3">
            <h2>Increase Sales</h2>
            <p>Intelfolio compares the sales growth of your peers by industry, segment and location. Let us show you how much room your company has to grow and how to beat your competitors' results.</p>
        </div>
        <div class="col-sm-3">
            <h2>Go From Good to Great</h2>
            <p>Good and great are relative terms. Do you know how you stack up against your competition? Use Intelfolio to eliminate paradigm blindness and take a fresh look at what you could be doing better.</p>
        </div>
        <div class="col-sm-3">
            <h2>Achieve Operational Excellence</h2>
            <p>Intelfolio also helps companies reassess underlying internal processes and business practices to improve efficiency. Contact us to find out how.</p>
        </div>
    </div>
</section>

<section id="features" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Key Features of Intelfolio</h1>
            <p>Learn more about your competitors and make better decisions on how to improve your business</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-th-large features-icon fa-2x"></i>
                <h2>Powerful Dashboard</h2>
                <p>Intelfolio’s dashboard enables you to benchmark your company against your closest peers and competitors in a timely fashion. Have all of the information you need to drive your business forward at your fingertips.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon fa-2x"></i>
                <h2>KPIs & Metrics</h2>
                <p>Ensure you are focusing on what matters most to help your business thrive. Get access to KPIs and benchmarks tailored specifically to your industry, segment and location.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="img/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-table features-icon fa-2x"></i>
                <h2>Interactive Reports</h2>
                <p>You will receive live and user-friendly reports every reporting period. We cover 2,500 segments within 1,500 industries with the number of participants growing daily.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-edit features-icon fa-2x"></i>
                <h2>Data Entry</h2>
                <p>Intelfolio is based on an insights-for-insights model—you gain access to your competitors’ data if you share your data. We keep the identity of your company and all other companies that share information with us confidential. Subscription members can only see a company’s metrics within Intelfolio—not the company’s name.</p>
            </div>
        </div>
    </div>
</section>
