<section class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Lowering Costs</h2>
            <p>You can draw great insights on best performers and industry average ratios of costs. Such insights allows to focus on areas of improvement like efficiency gains on technology, eliminating the loss runners, diversification, consolidation and even liquidation.</p>
        </div>
        <div class="col-sm-3">
            <h2>Increasing Sales</h2>
            <p>Intelfolio compares sales growth of your peers by industry, segment and geography. It shows how much room does the company have to grow and beat the competitors' results.</p>
        </div>
        <div class="col-sm-3">
            <h2>Good is enemy of Great</h2>
            <p>"Good" and "Great" are relevant terms. Benchmarking eliminates “paradigm blindness”. It forces the executive team to take a fresh approach on goal setting using the insights drawn from Intelfolio's business intelligence tool.</p>
        </div>
        <div class="col-sm-3">
            <h2>Operational Excellence</h2>
            <p>Insights from Intelfolio are not limited to the analysis of the competition or examination of pricing, products and services but also helping companies to reassess underlying internal processes and business practices to achieve highest results.</p>
        </div>
    </div>
</section>

<section id="features" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Discover great features</h1>
            <p>Take advantage of available industry insights and empower your business</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-th-large features-icon fa-2x"></i>
                <h2>Powerful Dashboard</h2>
                <p>Dashboard is better than 1000 words. Benchmarking with your closest peers and competitors. See timely and recent financial insights on your operations.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon fa-2x"></i>
                <h2>KPIs & Metrics</h2>
                <p>Focus on what matters most to sustain and thrive your business. KPIs and benchmarks tailored specifically for your industry, segment and geography.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="img/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-table features-icon fa-2x"></i>
                <h2>Interactive Reports</h2>
                <p>Live and user-friendly reports for each reporting period. We cover 2500 segments within 1500 industries with the number of participants growing daily.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-edit features-icon fa-2x"></i>
                <h2>Data Entry</h2>
                <p>Intelfolio is based on "Insights for Insights" model where all data is anonymous. High credibility of data is maintained by no tolerance for data manipulation.</p>
            </div>
        </div>
    </div>
</section>
