    <!-- Intro Header -->
    <header class="intro">
      <video id="intro-bg-video" class="intro-bg-video" autoplay loop poster="/img/bg_video_intro_poster.jpg">
        <source src="/videos/bg_video_intro.m4v" media="screen and (min-device-width:767px)">
        <source src="/videos/bg_video_intro.webm" type="video/webm" media="screen and (min-device-width:767px)">
      </video>
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <span class="brand-heading">intel<span class="red">folio</span></span>
                        <p class="intro-text"><span class="description">{{ site.description }}</span><br>
                        <a href="#how_it_works" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
