    <!-- How It Works Section -->
    <section id="how_it_works" class="content-section text-center even">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2>How it Works</h2>
              <div class="video-wrapper">
                <div class="fluid-width-video-wrapper">
                     <iframe src="https://www.youtube.com/embed/yecs7P3_8ws?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
