    <!-- How We Helped Section -->
    <section id="how_we_helped">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How we helped our participants</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Lowering Costs</h4>
                    <p class="text-muted">Some of our participants achieved cost containment due to insights from our benchmarking including industry norms. Anonymous information from peers was valuable for the top executives to know the target on overheads and other non-billable expenses. Also, these insights allowed them to pay attention to efficiency gains like using new technologies; eliminating loss runners, diversification, consolidation or even liquidation etc.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Increasing Sales</h4>
                    <p class="text-muted">Other participants were able to set up growth targets using the growth rates of their peers in the specific industry and geography. Such big audacious goals allowed them to improve their functions, operations, products and services which directly impacted the increases in sales and profits.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">New Paradigms</h4>
                    <p class="text-muted">A permanent benchmarking program forces organizations out of their comfort zones and provides specific and measurable short-term and long-term improvement plans based on current reality rather than historical performance. Very often, organizations set goals based on past trends and established internal patterns. Benchmarking helps remove such "paradigm blindness" and forces the organization to take a fresh approach to goal setting based on a broader perspective, including the external perspective, the most critical factor that drives customer expectations.</p>
                </div>
            </div>
        </div>
    </section>
