<!-- Insights For Insights Section -->
<section id="insights_for_insights">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Insights For Insights</h2>
          <div class="lead">Benchmarking ensures that the organization is continually striving to improve its performance through learning and business intelligence. Benchmarking opens minds to ideas from new sources and is not limited to the analysis of the competition or examination of pricing, products and services. Benchmarking is also used to measure performance using key performance indicators KPIs (e.g. cost per unit of measure, productivity per unit of measure, cycle time per unit of measure, etc.) resulting in a metric of performance that is then compared to others.</div>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="img/insights_for_insights.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
