<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Pricing</h1>
                <p>Ask us about receiving a free subscription!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 wow zoomIn">
            </div>
            <div class="col-lg-6 wow zoomIn">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Basic
                    </li>
                    <li class="pricing-price">
                        <span>Free*</span>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i> Powerful dashboard
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i> Rich, interactive & printable reports
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i> Historical data
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i> Public vs private benchmarking
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i> Includes all segments of your industry
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i> Quarterly analytics
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i> Anonymous profile
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i> Secure and encrypted communication
                    </li>
                    <li class="small">
                      * We are currently offering free Intelfolio subscriptions; however, we plan to charge for this service in the future.
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 wow zoomIn">
            </div>
        </div>
    </div>
</section>
