<!-- Start With Why Section -->
<section id="start_with_why" class="even">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Start With "Why?"</h2>
                    <div class="lead">In our world you can manage your business if you can measure. Measurement of your performance and key metrics is a <q>sine qua none</q> for executive decisions. Furthermore, benchmarking of your performance with your peers is even more important. Every stakeholder needs to know how their company is doing and what should be the goal as well as areas for improvement. Therefore, companies from different industries use benchmarking to gauge their successes and pinpoint their shortcomings. Hence, the question why do you need it or why do we offer this service?</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/start_with_why.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
