<section id="video">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>How it works</h1>
            <p>Industry insights never been that easy to obtain</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center video-container">
            <iframe src="https://www.youtube.com/embed/yecs7P3_8ws?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
  </div>
</section>
