<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Benchmarking,<br/>
                      KPI<span class="lowercase">s</span>,<br/>
                      Business Intelligence,<br/>
                      Financial Analytics</h1>
                    <p>Financial INSIGHTs for private companies</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#request_demo" role="button">REQUEST DEMO</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
    </div>
</div>
