<section id="request_demo" class="request_demo">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Request Demo</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="requestDemoForm" id="requestDemoForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="control-group form-group">
                    <input type="text" class="form-control" placeholder="Your First Name *" name="firstName" required data-validation-required-message="Please enter your first name.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="control-group form-group">
                    <input type="text" class="form-control" placeholder="Your Last Name *" name="lastName" required data-validation-required-message="Please enter your last name.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>
              <div class="control-group form-group">
                <input type="tel" class="form-control" placeholder="Your Phone" name="phone">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group form-group">
                <input type="email" class="form-control" placeholder="Your Email *" name="email" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="control-group form-group">
                <textarea class="form-control" placeholder="Your Message" name="message"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
