<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Why you need our analytics tool</h1>
                <p>Trusted by the industry leaders.</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft">
                <h2>Start with "Why?"</h2>
                <p>In our world you can manage your business if you can measure. Measurement of your performance and key metrics is a sine qua none for executive decisions. Furthermore, benchmarking of your performance with your peers is even more important. Every stakeholder needs to know how their company is doing and what should be the goal as well as areas for improvement. Therefore, companies from different industries use benchmarking to gauge their successes and pinpoint their shortcomings. Hence, the question why do you need it or why do we offer this service?</p>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                <img src="img/iphone.jpg" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight">
                <h2>Insights for Insights </h2>
                <p>Benchmarking ensures that the organization is continually striving to improve its performance through learning and business intelligence. Benchmarking opens minds to ideas from new sources and is not limited to the analysis of the competition or examination of pricing, products and services. Benchmarking is also used to measure performance using key performance indicators KPIs (e.g. cost per unit of measure, productivity per unit of measure, cycle time per unit of measure, etc.) resulting in a metric of performance that is then compared to others.</p>
            </div>
        </div>
    </div>

</section>
