<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="intelfolio">
    {% include nav.html %}
    {% include header.html %}
    {% include start_with_why.html %}
    {% include insights_for_insights.html %}
    {% include how_it_works.html %}
    {% include how_we_helped.html %}
    {% include about.html %}
    {% include request_demo.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
